.btn
    border: none
    background: linear-gradient(180deg, #B44FE8 0%, #9857FF 100%)
    border-radius: 5px
    color: white

    &:hover
        opacity: .85

.new_btn
    background: linear-gradient(180deg, #FF576B 0%, #E84FAE 100%)

body
    background-color: #fff
    color: #3D3D3D
    font: 14px 'Lato', sans-serif

.show 
    display: block !important

header
    padding: 1em 0
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1)
    margin-bottom: 2em

    .liked-gifts__icon
        text-align: right

    .main-nav
        text-align: center

        .btn
            margin-left: 5px

    .logo
        &__link
            background: linear-gradient(-70deg, #F563FF 0%, #B44FE8 100%)
            color: #F563FF
            font-size: 24px
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent

    .liked-gift__button
        background-color: transparent
        border: none
        cursor: pointer
        position: relative

.gifts__cartContainer
    display: none
    position: absolute
    right: 0
    top: 60px
    width: 100%
    padding: 1em 10em
    background-color: #fff
    z-index: 999
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1)

h2.page-title
    line-height: 1
    margin-bottom: 1em

.gift
    margin-bottom: 3em !important
    height: 300px
    max-width: 250px
    padding: 1em 1em
    margin: 0 1em
    box-shadow: 0px 0px 10px rgba(180, 79, 232, 0.2)
    overflow: hidden

    .gift-name__wrap
        position: relative
        display: flex
        align-items: center
        margin-bottom: 0.5em
        height: 50px

    &__name
        display: inline-block
        font-weight: 900
        vertical-align: middle
        text-align: justify
        font-size: 24px
        line-height: 24px

    &__age
        display: block
        background-color: #eee
        text-align: center
        margin-bottom: 0.5em
        border-radius: 3px
    
    &__price
        display: block
        font-size: 1.5em
        font-weight: 600
    
    &__interests
        display: block
        font-size: .8em
        margin-bottom: 1em
        font-style: italic

    &__description
        min-height: 50px
        word-break: break-all

    &__link
        display: block
        text-align: center
        background-color: #eee
        padding: 0.2em 0.3em
        color: #3D3D3D
        margin-bottom: 0.5em

    &__buy
        display: block
        width: 100%

form
    .rating
        margin: 0 0 1em 0
        padding: 0
        border: none

        /* Caption */

    .rating__caption
        margin-bottom: 0.5em
        padding: 0

        /* Group */

    .rating__group
        position: relative
        width: 10em
        height: 2em
        background-image: url(https://cdn.glitch.com/be154eac-f8a7-4b55-9350-27cb2d6ff6c0%2Foff.svg)
        background-size: 2em auto
        background-repeat: repeat-x

    .rating__group:focus-within
        outline: 0.2em solid #4a90e2
        outline-offset: 0.2em

        /* Star */

    .rating__star
        position: absolute
        top: 0
        left: 0
        margin: 0
        height: 2em
        font-size: inherit
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        background-size: 2em auto
        background-repeat: repeat-x

    .rating__star:focus
        outline: none

    .rating__star:hover,
    .rating__star:checked
        background-image: url(https://cdn.glitch.com/be154eac-f8a7-4b55-9350-27cb2d6ff6c0%2Fon.svg)

    
    .rating__star:hover ~ .rating__star
        background-image: url(https://cdn.glitch.com/be154eac-f8a7-4b55-9350-27cb2d6ff6c0%2Foff.svg)

        /* Options */

    .rating__star:nth-of-type(1)
        z-index: 5
        width: 2em

    .rating__star:nth-of-type(2)
        z-index: 4
        width: 4em

    .rating__star:nth-of-type(3)
        z-index: 3
        width: 6em

    .rating__star:nth-of-type(4)
        z-index: 2
        width: 8em

    .rating__star:nth-of-type(5)
        z-index: 1
        width: 10em

